
.gua {
  border: 1px solid blue;
}

.gua .yang,
.gua .yin {
  display: block;
  cursor: pointer;
}

.gua .name,
.gua .name2 {
  cursor: pointer;
}

.gua .yang.inactive,
.gua .yin.inactive {
  opacity: 0.2;
}
.gua .yang {
  background-color: #FF1100;
}
.gua .yin {
  border-color: #000;
  border-left-style: solid;
  border-right-style: solid;
}

/* ==================== Large */
.gua.large .name {
  margin-left: 60px;
  font-size: 30pt;
}
.gua.large .name2 {
  font-size: 30pt;
  margin-left: 40px;
}

.gua.large .yang,
.gua.large .yin {
  margin-bottom: 15px;
  height: 30px;
  width: 160px;
}
.gua.large .yin {
  border-left-width: 75px;
  border-right-width: 75px;
}

/* ==================== Small */
.gua.small .name {
  margin-left: 9px;
  font-size: 11px;
}
.gua.small .name2 {
  margin-left: 5px;
  font-size: 11px;
}

.gua.small .yang,
.gua.small .yin {
  margin-bottom: 3px;
  height: 3px;
  width: 30px;
}

.gua.small .yin {
  border-left-width: 14px;
  border-right-width: 14px;
}
