extends layout

block content
  button(id="show64Map", class="btn btn-danger") 六十四卦图
  #divMap
    canvas(id="canvas_1", height=600, width=800, class="gua")
  #divGuaDetail(class="hide")
    include component-search-gua
