h1 周易

canvas(id="canvas_1", height=320, width=280, class="gua")

input(type="search",class="search", id="searchContent", placeholder="0/1 or name")
input(type="submit",value="Search", id="searchGua")
span(id="searchResult")

div(class="content hide")
  section(name="guaci")
    h2 卦辞
    p
  section(name="yaoci")
    h2 爻辞
    p
  section(name="xiang")
    h2 象傳
    p
  section(name="tuan")
    h2 彖傳
    p

script
   $(function () {
        
       $.yijing.showGua('000111');
       $('div.content').show();
   });
