h1 Yi Jing

canvas(id="canvas_1", height=320, width=280, class="gua")
div(class="content")
  section(name="guaci")
    h2 卦辞
    p
  section(name="yaoci")
    h2 爻辞
    p
  section(name="xiang")
    h2 象傳
    p
  section(name="tuan")
    h2 彖傳
    p
