div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand", href="/") 周易
      div(class="nav-collapse")
        ul(class="nav")
          for n in navs
            if (url == n.url)
              li(class="active")
                a(href="#{n.url}") #{n.name}
            else
              li
                a(href="#{n.url}") #{n.name}

        ul(class="nav pull-right")
          form(action="/gua")       
            input(type="search",class="input-medium search-query", id="searchContent", name="guakey", placeholder="卦名")
            button(type="submit", id="searchGua", class="btn btn-danger" ) 查询

