div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand", href="/") 周易
      div(class="nav-collapse")
        ul(class="nav")
          li
            a(href="/") 六十四卦
          li
            a(href="/gua") 查卦

        ul(class="nav pull-right")
          li
            a(href="/doc/xuguazhuan") 序卦传

