<!DOCTYPE>
html
  head
    title 周易
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.7.2.min.js")
    script(src="/javascripts/jCanvaScript.js")
    script(src="/javascripts/data.js")
    script(src="/javascripts/yijing.js")
  
  body!= body
  
  footer
    <p>&copy 2012 Wu,Haisheng <a href="http://github.com/freizl/yijing">Github</a></p>
