
script(src="http://code.jquery.com/jquery-1.7.2.min.js")
script(src="/javascripts/jCanvaScript.js")
script(src="/javascripts/bootstrap-alert.js")
script(src="/javascripts/data.js")
script(src="/javascripts/yijing.js")
script(src="/javascripts/main.js")  
