<!DOCTYPE>
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body!= body

  script(src="http://code.jquery.com/jquery-1.7.2.min.js")
  script(src="/javascripts/jCanvaScript.js")
  script(src="/javascripts/data.js")
  script(src="/javascripts/yijing.js")
  