div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand", href="/") 周易
      div(class="nav-collapse")
        ul(class="nav")
          li
            a(href="/") 六十四卦图
          li
            a(href="/doc/wenyan") 文言传
          li
            a(href="/doc/shuogua") 说卦传
          li
            a(href="/doc/xugua") 序卦传
          li
            a(href="/doc/zagua") 杂卦传

        ul(class="nav pull-right")
          form(action="/gua")       
            input(type="search",class="input-medium search-query", id="searchContent", name="guakey", placeholder="0/1 或 卦名")
            button(type="submit", id="searchGua", class="btn btn-danger" ) 查询

