extends layout/layout

block content
    div
      div(class="pull-left")
        div
          canvas(id="canvas_2", height=320, width=280, class="gua")
        p
          button(class="btn btn-danger", id="zonggua") 綜卦
          button(class="btn btn-danger", id="cuogua") 錯卦
          button(class="btn btn-danger", id="jiaogua") 交卦

      div(class="pull-left")
        div(class="content hide",id="explaination")
          section(name="guaci")
            h2 卦辞
            p
            p.special
          section(name="yaoci")
            h2 爻辞
            p
          section(name="xiang")
            h2 象傳
            p
            p.special
          section(name="tuan")
            h2 彖傳
            p

      input(name="defaultGua", type="hidden", value="#{guaname}")

block bottomjs
    include layout/layout-js
    script(src="/javascripts/search.js") 
