body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas.gua {
    border: 1px gray dotted;
    float: left;
    margin: 0 20px;
}

div.content {
    padding: 20px;
    border: 1px gray solid;
    height: 320pt;
    min-height: 320pt;
    width: 360px;
    float: left;
}