html {
    overflow-y: scroll;
}
body {
  padding: 60px 0;
 
}

div.container p {
    font-size: 14px;
}

canvas.gua {
    margin: 0 20px;
}

div.content {
    margin: 10px 0 20px 0;
    padding: 20px;
    border-radius: 10px;
    min-height: 230pt;
    width: 360px;
}

div.content h2 {
    font-size: 30px;
    margin: 10px 0;
}

button#zonggua {
    margin-left: 86px;
}

button {
    margin: 0 5px;
}

form {
    margin: 5px;
}
.navbar button.btn {
    margin-top: 0;
}

div.container p.special {
    font-weight: bold;
}

input[type="search"] {
    width: 35px;
}

#shiyiData li a {
    font-size: 16px;
    font-weight: bold;
}

/* ==========  Multiple Column */

h1,h2 {
    -webkit-column-span:all;
    -moz-column-span:all;
    column-span:all;
}

.column5 {
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
}

.column2 {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

/* ================== chrome scroll bar*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #F0F0F0;
    border: 1px solid #EEEEEE;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(152,152,152,0.8);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(131,131,131,0.8);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(111,111,111,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
}

/* ==================== style for yao == */
.gua {

}

.gua p {
    margin-bottom: 6px;
}

.gua p.yang span {
    background-color: rgba(255,0,0,0.8);
    width: 160px;
    margin: 0 0 0 5px;
}

.gua p.yin span {
    background-color: rgba(0,0,0,0.8);
    width: 75px;
    margin: 0 5px;
}

.gua p span {
    height: 30px;
    display: inline-block;
}
.gua p:hover {
    cursor: pointer;
}
