script(src="/javascripts/main/jquery-1.7.2.min.js")
script(src="/javascripts/main/bootstrap-dropdown.js")
script(src="/javascripts/main/jCanvaScript.js")
script(src="/javascripts/main/data.js")
script(src="/javascripts/main/yijing.js")
