<!DOCTYPE>
html
  head
    title 周易
    include layout-meta
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    include layout-nav

    div(class="container")
      block content
      block footer
        div(class="clearfix")
        hr()
        footer(class="footer")
          <p>&copy 2012 <a href="http://weibo.com/freizl/" title="微博">Wu,Haisheng</a> <a rel="license" title="CC-BY-SA 3.0协议" href="http://zh.wikipedia.org/wiki/Wikipedia:CC-by-sa-3.0%E5%8D%8F%E8%AE%AE%E6%96%87%E6%9C%AC" style="margin-left: 10px;"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.5/cn/88x31.png"></a></p>
        <!--[if lt IE 9]>
        div(class="hide alert alert-error", style="font-size:20px;", id="notChromeBrowser")
          a(class="close", data-dismiss="alert") x 
          p 暂时不支持IE9以下的浏览器. 请使用
            a(href="http://www.google.com/chrome/", title="http://www.google.com/chrome/") Google Chrome
            或
            a(href="http://firefox.com.cn/", title="http://firefox.com.cn/") FireFox
            浏览器以获得正确的效果.
        <![endif]-->

  script(src="http://code.jquery.com/jquery-1.7.2.min.js")
  script(src="/javascripts/lib/bootstrap-dropdown.js")
  block bottomjs
