extends ../layout/layout
block content
  h2 Dome page
  section(class="gua pull-left")
    h3 Gua Name
    p(class="yang")
      span
    p(class="yang")
      span
    p(class="yin")
      span
      span
    p(class="yang")
      span
    p(class="yin")
      span
      span
    p(class="yang")
      span
  div(class="clearfix")     
      
block bottomjs
  script(src="/javascripts/main/yijing2.js")
