extends ../layout/layout
block content
  :markdown
      # 大道易行 - 曾仕强教授大陆讲学二十周年庆典

      1. [大道易行01](http://www.tudou.com/programs/view/3iy2i41-az4/)
      2. [大道易行02](http://www.tudou.com/programs/view/Z_IYZETVUsg/)
      3. [大道易行03](http://www.tudou.com/programs/view/y9suG6qcPZM/) 
      4. [大道易行04](http://www.tudou.com/programs/view/vxe7KoLJynE/)
      5. [大道易行05-1](http://www.tudou.com/programs/view/VE1XiKmymHE/)
      5. [大道易行05-2](http://www.tudou.com/programs/view/Ld4jtEzt97c/)
      5. [大道易行05-3](http://www.tudou.com/programs/view/r_p-XPqBxdY/)
      6. [大道易行06](http://www.tudou.com/programs/view/4VLYedhP5Ug/)
      7. [大道易行07](http://www.tudou.com/programs/view/44ju8Czjpw8/)
      8. [大道易行08](http://www.tudou.com/programs/view/G8DQ2nYpL_I/)
      9. [大道易行09](http://www.tudou.com/programs/view/owcNrdXQfQs/)
