extends ../layout/layout
block content
  div(id="shiyiData")
    ol(start="31")

block bottomjs
  include ../layout/layout-js
  script(src="/javascripts/data-display.js")
  script
    $.yijing.display64Gua2();
